*~
*.sw[op]
.idea*
*.pyc
localsettings.py
local_settings.py
*.sqlite3
_working/
data/
guests/static/save-the-date/images/archive/
guests/tests/data/guestlist.csv
bigday_secrets.py
bigday/.env
.DS_Store
media/guest-list
media/guest-list/*
AdibePhotography-20_Original.jpg

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
