{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Hi {{ party.name }}! Thanks for your response!</h2>
        {% if party.any_guests_attending %}
            <p>
                We can't wait to celebrate with you @ {{wedding_location}}!
            </p>
            <p>
                 <a href="{% url 'confirmation' invite_id=party.invitation_id %}">Click here</a> to review your details. 
            </p>
        {% else %}
            <p>
                We're sorry you won't be able to join us in {{wedding_location}}.
            </p>
            <p>
                We look forward to catching up with you some other time!
            </p>
        {% endif %}
        <p>
            - {{couple_name}}
        </p>
    </div>
{% endblock %}
