<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center"><strike>Friday Night Pre-Game</strike> Rehearsal Dinner</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        The rehearsal dinner will be held at a location that is on your invitation. 
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, June 17 at 7:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        
                           The location is in your invitation. 
                    </dd>
                    <dt>Attire</dt>
                    <dd>If you've got a bra or deodorant, you'll be fine.</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided. Please plan responsibly.</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">The Ceremony</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>{{couple_name}}'s wedding ceremony</dd>
                    <dt>When</dt>
                    <dd>{{wedding_date}}; {{ceremony_start}}</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            {{wedding_location}}<br>
                            <a href="{{ceremony_map}}">{{ceremony_address}}</a><br>
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>
                       Semi-formal, comfortable, and creative (i.e. whatever you want). It's summer in the mid-Atlantic. Don't be a hero.<br> 
                    </dd>
                    <dt>Transportation</dt>
                    <dd>From <a href="{{caboose_farm_map}}">{{caboose_farm_name}}</a> to <a href="{{map_url}}">{{wedding_location}}</a>:
                        <ul>
                            <li>Boarding at 2:40 PM </li>
                            <li>Departing at 2:40 PM</li>

                        </ul>
                    </dd>
                    <dd>From <a href="{{map_url}}">{{wedding_location}}</a> to <a href="{{caboose_farm_map}}">{{caboose_farm_name}}</a>:
                        <ul>
                            <li>Boarding at 10:00 PM </li>
                            <li>Departing at 10:15 PM</li>

                        </ul>
                    </dd>

                    <dt>Parking</dt>
                    <dd>Parking is available on-site.</dd>
        

                </dl>
            </div>
        </div>
    </div>
</section>
