{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            {{couple_name}} are lucky to have one another. <!-- You can give to their <a href="{{honeymoon_fund}}" target="_blank">honeymoon fund</a>. -->
        </p>
        <p>
            Also consider making a donation to one of the great causes below.
        </p>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/msf.jpg' %}" class="img-responsive" alt="">
                    <h3>MSF</h3>
                    <p>
                        <a href="https://www.msf.org/donate">Medecins Sans Frontieres</a> (MSF/Doctors Without Borders) provides medical assistance to people affected by conflict, epidemics, disasters, or exclusion from healthcare.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="charity-box">
                    <img src="{% static 'bigday/images/charities/sheldrick.jpg' %}" class="img-responsive" alt="">
                    <h3>The Sheldrick Wildlife Trust</h3>
                    <p>
                        <a href="https://www.sheldrickwildlifetrust.org/donate">The Sheldrick Wildlife Trust</a> runs the Sheldrick Elephant Rescue in Nairobi. It also aligns with Danny's strong
                        love for elephants. The Trust adopts and takes care of orphaned baby elephants then reintroduces them to the wild. 
                    </p>
                </div>
            </div>

        </div>
        <hr class="light">
</div>
