<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                Lisette moved to DC in early 2013 and Danny came over in fall of the same year. Both set up
                OkCupid profiles. Danny made the first move - connecting over his peripatetic background 
                and his love of Avatar - the Last Airbender. Their first coffee date was on October 27, 2013.
            </p>
                Eight years, two cats, and four continents later here we are.
            <p>

            </p>
        </div>
    </div>
</div>
