<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Logistics</h2>
            <hr class="primary">
            <h3>Getting here</h3>
            <p>
                <a href="{{map_url}}" target="_blank">{{wedding_location}}</a> is about 90 minutes north of Washington DC.
            </p>
            
                <h3>Reminders</h3>
            <p>
                <ul>
                    <li>Make sure you are up to date on your COVID vaccinations.</li>
                    <li>Try to get a COVID test 24 hours before the event.</li>
                    <li>Bring identification (the guest list is <strong>strictly enforced</strong>).</li>
                    <li>Do not drink and drive!</li>

                </ul>
            </p>
 
            <hr class="primary">
            <h3>Where to Stay</h3>
                <p>
                    You are, of course, free to make your own arrangements. Here are some suggestions. 
                </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">AC Hotel by Marriot</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/wasad-ac-hotel-washington-dc-downtown/overview/">The AC Hotel</a> is located in downtown DC.
                    </td>
                </tr>
                <tr>
                    <th>Country Inn and Suites</th>
                    <td>
                        Located in Frederick, this is ideal for those of you who prefer to be closer to the venue. 
                        <strong>Call (301) 695-2881</strong> to make your reservation.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
                <p>
                    If you have never been to the National Capital Region (NCR/Washington DC) there's tons of things to do.
                </p>
            <h4>Tour the Pentagon</h4>
            <p>
                The tours might reopen before the wedding, so if they do, you need to check it out. The Pentagon is a fascinating 
                place that is full of history. 
            </p>
            <h4>Museums</h4>
            <p>
                The DC area is home to some of the world's best museums. Sure there are classics like Air & Space or the Natural history Museum. But lesser known gems include <a href="https://www.nbm.org/" target="_blank">the National Building Museum</a>, 
                and the <a href="https://www.folger.edu/" target="_blank">the Folger Shakespeare Library</a>. 
            </p>
            <h4>Food</h4>
            <p>
                DC is a foodie town. You cannot go wrong with the site of Danny and Lisette's first date <a href="https://www.trystdc.com/" target="_blank">Tryst</a> or the site of their second date <a href="https://www.thehamiltondc.com/" target="_blank">The Hamilton</a>. If you like sushi, DC is home to <i>two</i> Michelin-starred sushi restaurants: <a href="https://www.sushitaro.com/" target="_blank">Sushi Taro</a>, and <a href="https://www.sushinakazawa.com/washington-dc" target="_blank">Sushi Nakazawa</a>. 
            </p>
        </div>
    </div>
</div>
